

body{
    color: white;
    background-color: #141922;
    font-family: 'Montserrat', sans-serif;
}
h5{
    color: #787a7f;
}
h2 , h5{
    width: 100%;
}
.container-fluid{
    /* height: 100% */
    height: calc(100vh - 100px); /*100 viewport - altezza del footer*/
}

.btn{
    background-color: unset;
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.display{
    display: none;
}
.playlist.display{
    display: none;
}
@media screen and (min-width: 576px) {
    .display{
        display: inline-block;
    }
    .playlist.display{
        display: flex;
    }
    /* .mr-10{
        margin-right: initial;
    } */
}

.main{
    height: 100%;
}
.col-left{
    min-width: 70px;
    max-width: 70px;
    height: 100%;
    background-color: black;
}
.sidebar-bottom{
    overflow:hidden;
}

/*regole desktop per la colonna di sinistra*/
@media screen and (min-width: 576px) {
    .col-left{
        min-width: 230px;
        max-width: 230px;
        padding: 10px;
    }
}


/*   SIDEBAR    */
.row.sidebar{
    flex-flow: column;
    overflow: hidden;
    padding: 5px;
}

.sidebar .sidebar-top nav,
.sidebar .sidebar-top .playlist-top div span,
.sidebar .sidebar-top .playlist-bottom ul li{
    color: grey;
    font-weight: bold;
}
/* .sidebar .sidebar-top .playlist-top div span{
    margin-left: 10px;
} */
.sidebar .sidebar-top nav img{
    filter: invert(20%);
    /* margin-right: 10px; */
}
.sidebar .logo,
.sidebar nav{
    margin-bottom: 5px;
}


.logo{
    margin-top: 10px;
}

/* regole mobile (le width restano invariate e quindi inutile riperterle nella media query */
.sidebar .logo{
    display: none;
    width: 160px;
}
.sidebar .logo-mobile{
    /* width: 100%; */
    text-align: center;

}
.sidebar .logo-mobile img{
    height: 30px;
}

/* regole desktop */
@media screen and (min-width:576px) {
  
    .sidebar .logo-mobile{
        display: none;
    }
    .sidebar .logo{
        display: block;

    }

    .sidebar-top,
    .sidebar-bottom{
        text-align: initial !important;
    }

}


.sidebar-top{
    /* height: 90%; */
    /* flex-grow: 1; */
    height: calc(100% - 100px);
    /* overflow: hidden; non dovrebbe essere necessario*/
    min-height: 380px;

    /* addded */
    text-align: center;
}

.sidebar-top > nav > ul {
    list-style: none;
}
.sidebar-top > nav > ul li,
.playlist-top div{
    line-height: 30px;
}

/*img icone svg*/
.sidebar-top > nav > ul li img{
    height: 30px;
    vertical-align: middle;
}

.playlist{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.playlist-top > h3{
    margin-bottom:5px;
}
.playlist-top div > i{
    font-size: 40px;
    vertical-align: middle;
}
.playlist-top div > i.fas.fa-plus-square{
    color: #ccc;
}

.playlist-bottom{
    /* height: 100px; */
    /* height: calc(100vh - 500px); */
    /* height: 60%; */
    height: calc(100% - 260px);
    overflow-y: auto;
    overflow-x: hidden; /*al 99% da togliere una volta completata la media query per small */
    /* background-color: saddlebrown; */
    /* flex-grow: 1; */
}
.playlist-bottom ul li{
    line-height: 2;
}

.sidebar-bottom{
    height: 100px;
    min-height: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* added */
    text-align: center;
}


.sidebar-bottom .download{
    height: 18%;
    margin-bottom: 20px;
}
@media screen and (min-width:576px) {
    .sidebar-bottom .download{
        margin-bottom: 0px;
    }
}

.sidebar-bottom .download img{
    height: 100%;
    vertical-align: middle;
}
.sidebar-bottom .download span{
    font-size: 13px;
    font-weight: bold;
    color: grey;
}
.sidebar-bottom .line{
    border-top: 1px solid grey;
    margin: 10px 0px;
}
.sidebar-bottom .user{
    height: 30%;
}
.sidebar-bottom .user img{
    height: 100%;
    border-radius: 50%;
    background-color: grey;
    padding: 0px 1px;
    vertical-align: middle;
}

/* main content top bar(.upgrade-bar) + main (gallery) */
.upgrade-bar{
    height: 70px;
    line-height: 70px;
    text-align: right;
    position: fixed;
    top: 0px;
    z-index: 9; /*funziona anche con z-index = a quello di footer ma just in case lo metto a 9*/
    background-color:rgba(8, 11, 18, 0.5);

    width: calc(100vw - 86px); /*mobile*/
}
@media screen and (min-width:576px) {
    .upgrade-bar{
        width: calc(100vw - 247px);
    }
}

.gallery{
    /* min-height: 700px; */
    height: calc(100vh - 100px);
    /* background-color: orange; */
    width: 100%;
    padding-top: 80px;
    overflow-y: auto;
}

.gallery .row>h2,
.gallery .row>h5{
    padding-left: 10px;
}
.gallery nav.row{
    justify-content: center;
}
.gallery nav.row ul{
    text-align: center;
}
.gallery nav.row ul>li{
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    line-height: 4;
}

.gallery .row.recently,
.gallery .row.mix,
.gallery .row.artisti{
    margin: 0 15px;
    margin-top: 20px;
}
.gallery .row.recently > h2{
    width: 100%;
    font-size: 30px;
    text-transform: capitalize;
    /* margin: 0; */
    padding-left: 10px;
}
.gallery .row.artisti img{
    border-radius: 50%;
}

.nested-box{
    min-height: 150px;
    /* width: 170px; */
    /* width: calc(100% / 6); */
    width: calc(100% / 2); /*mobile*/
    min-width: 170px;
    background-color: transparent;
    padding: 10px;

}


@media screen and (min-width:576px) {
    .nested-box{
            width: calc(100% / 6);
        }
}

.gallery .nested-box>img{
    width: 100%;
}
.gallery .nested-box > .text{
    text-align: center;
}
.gallery .nested-box > .text > h2{
    font-size: 18px;
}

/* footer */
footer.row{
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: relative;
    /* position: fixed; */
    /* bottom: 0; */
    z-index: 10;
}





/* debug */

.debug .row.sidebar{
    /* background-color: red; */
    height: 100%;
    width: 100%;
}
.debug .sidebar-top,
.debug .sidebar-bottom{
    /* min-height: 200px; */
    /* background-color: royalblue; */
    width: 100%;
    /* border: 1px solid; */
}

.debug [class*="col-"] {
    /* background-color: lightsalmon; */
    /* border: 1px solid;  da togliere successivamente (sta disallineando sidebar e main row ) */
    /* min-height: 500px; */
}
.debug .upgrade-bar{
    /* background-color: grey; */
    border: 1px solid;
    /* width: 100%; */
}
body{
    /* overflow da togliere appena eliminati i bordi esterni dei container e delle row */
    overflow: hidden;
}

.debug .box{
    /* height: 900px; */
    width: 100%;
    /* border: 2px solid white; */
    /* background-color: teal; */


    /* overflow-y: auto; da vedere se necessario piu avanti!!  */
}

.debug .nested-box{
    /* min-height: 150px; */
    /* width: 170px; */
    /* width: calc(100% / 6);
    min-width: 170px;
    background-color: transparent;
    padding: 10px; */

}
