
body{
    color: white;
    background-color: #141922;
    font-family: 'Montserrat', sans-serif;
}
h5{
    color: #787a7f;
}
.container-fluid{
    height: 100%
}
.upgrade-bar{
    height: 70px;
    position: relative;
    top: 0px;
    z-index: 10;
    background-color:rgba(8, 11, 18, 0.5);
}
.gallery{
    /* min-height: 700px; */
    height: calc(100vh - 170px);
    /* background-color: orange; */
    width: 100%;
    overflow-y: auto;
}
.gallery nav.row{
    justify-content: center;
}
.gallery nav.row ul{
    text-align: center;
}
.gallery nav.row ul>li{
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    line-height: 4;
}
.gallery .row.recently,
.gallery .row.recently>h2{
    margin: 0 15px;
}
.gallery .row.recently > h2{
    width: 100%;
    font-size: 30px;
    text-transform: capitalize;
}
.gallery .nested-box>img{
    width: 100%;
}
.gallery .nested-box > .text{
    text-align: center;
}
.gallery .nested-box > .text > h2{
    font-size: 18px;
}

/* footer */
footer.row{
    height: 100px;
    width: 100%;
    background-color: #282828;

    position: fixed;
    bottom: 0;
    z-index: 1;
}


/* debug */

.debug [class*="col-"] {
    /* background-color: lightsalmon; */
    border: 1px solid;
    /* min-height: 500px; */
}
.debug .upgrade-bar{
    /* background-color: grey; */
    border: 1px solid;
    width: 100%;
}
body{
    /* overflow da togliere appena eliminati i bordi esterni dei container e delle row */
    overflow: hidden;
}

.debug .box{
    height: 900px;
    width: 100%;
    /* border: 2px solid white; */
    /* background-color: teal; */


    /* overflow-y: auto; da vedere se necessario piu avanti!!  */
}

.debug .nested-box{
    min-height: 150px;
    width: 170px;
    background-color: transparent;
    padding: 10px;

}

.debug .row.recently > .col-xs-2{

}